<h1 class="text-center mt-5">{{titulo}}</h1>

<div class="container">

  <div *ngIf="alertMessage" class="text-center col-lg-12 mt-3">
    <div class="alert alert-info  text-center">
      {{alertMessage}}
    </div>
  </div>

</div>

<form #formArtist="ngForm" class="col-lg-6 offset-3 mt-4" (ngSubmit)="onSubmit()">
  <p>
    <label for="">Nombre</label>
    <input type="text" #name="ngModel" [(ngModel)]="artist.name"  class="form-control" name="name" required />
    <span *ngIf="!name.valid && name.touched">
      El nombre es obligatorio
    </span>
  </p>

  <p>
    <label for="">Descripción</label>
    <textarea type="text" #description="ngModel"  [(ngModel)]="artist.description" class="form-control"   name="description"required ></textarea>
    <span *ngIf="!description.valid && description.touched">
     La descripción es obligatoria
    </span>
  </p>

  <div *ngIf="is_edit">
    <div class="artist-image">
			<img src="{{url+'get-image-artist/'+artist.image }}"/>
		</div>

    <p>
      <label for="">sube la imagen del artist</label>
      <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
    </p>
  </div>

  <input type="submit" class="btn btn-primary btn-block" value="Crear Artista">

</form>
