
@media(max-width:1024px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:65px;
    text-align: left;
  }

  .data{
    position: relative;
    left:110px;
    text-align: left;
  }

  #player{
    position: relative;
    left:58px;
  }

}

@media(max-width:1000px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:60px;
    text-align: left;
  }

  .data{
    position: relative;
    left:100px;
    text-align: left;
  }

  #player{
    position: relative;
    left:58px;
  }

}

@media(max-width:768px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:65px;
    text-align: center;
  }

  .data{
    position: relative;
    left:63px;
    text-align: center;
  }

  #player{
    position: relative;
    left:58px;
  }

}


@media(max-width:500px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:30px;
    text-align: center;
  }

  .data{
    position: relative;
    left:28px;
    text-align: center;
  }

  #player{
    position: relative;
    left:18px;
  }

}

@media(max-width:425px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:30px;
    text-align: center;
  }

  .data{
    position: relative;
    left:28px;
    text-align: center;
  }

  #player{
    position: relative;
    left:18px;
  }

}

@media(max-width:390px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:16px;
    text-align: center;
  }

  .data{
    position: relative;
    left:18px;
    text-align: center;
  }

  #player{
    position: relative;
    left:18px;
  }

}



@media(max-width:375px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:16px;
    text-align: center;
  }

  .data{
    position: relative;
    left:18px;
    text-align: center;
  }

  #player{
    position: relative;
    left:18px;
  }

}


@media(max-width:320px){

  #play-song-title{
    position: relative;
  }

  .title-player{
    position: relative;
    left:16px;
    text-align: center;
  }

  .data{
    position: relative;
    left:18px;
    text-align: center;
  }

  #player{
    position: relative;
    left:18px;
  }

}
