.clear-fix{
  display: block;
  clear:both;
}


.pagination{
  float:right;
}
.description-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5;
  -webkit-box-orient: vertical;

}

.artist-image img{
  object-fit: cover;
  object-position: center;
}


.artist-item{
  cursor:pointer !important;
}
