
<div *ngIf="alertMessage" class="text-center col-lg-12 mt-3">
  <div class="alert alert-info  text-center">
    {{alertMessage}}
  </div>
</div>



<h1 class=" ml-5 mt-4 text-left title ">{{titulo}}</h1>

<div class="head-page">




  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" [routerLink]="['/artists', prev_page]" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <li class="page-item">
        <a  [routerLink]="['/artists', next_page]" class="page-link" href="#" aria-label="Next">
          <span   aria-hidden="true">&raquo;</span>
          <span  class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <a *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="crear-artistas  btn btn-success mt-3" [routerLink]="['/artist-add']">
    Añadir Artista
  </a>
</div>

<div class="clear-fix"></div>

<ul class="artist-list mt-4 row" *ngIf="identity" >
  <li *ngFor="let artist of artists" class="col-lg-2 artist-item" >

    <div class="artist-image" [routerLink]="['/artista', artist._id]" style="cursor:pointer !important;">
			<img [src]="url+'get-image-artist/'+artist.image"/>
		</div>

    <div class="pt-5">
      <a  >
        {{artist.name}}
      </a>
    </div>

    <p class="description-text pb-5 mb-5 mt-4">{{artist.description}}</p>

    <a [routerLink]="['/editar-artista', artist._id]" class="buttons btn btn-warning"> Editar <span class="material-icons">edit</span></a>
    <a (click)="onDeleteConfirm(artist._id)" class="buttons btn btn-danger"> Borrar <span class="material-icons">delete</span></a>

    <div class="seguro" *ngIf="confirmado == artist._id">
      <a (click)="onCancelArtist()" class="buttons btn btn-primary"> Cancelar <span class="material-icons">cancel</span></a>
      <a (click)="onDeleteArtist(artist._id)" class="buttons btn btn-danger"> Borrar Artista <span class="material-icons">delete_forever</span></a>
    </div>

  </li>
</ul>
