<div class="row col-lg-12">

  <div *ngIf="identity" class="navigation col-lg-1">

    <h1 class="head-title">
      <a [routerLink]="['']">

        <span class="material-icons">
          music_note
        </span>
        {{title}}
      </a>
    </h1>

    <nav id="navigation">
        <a href="#">
          <span class="material-icons">
            search
          </span>            Buscar
        </a>
        <a [routerLink]='["artists", 1]'[routerLinkActive]="['actived']">
          <span class="material-icons">
            interpreter_mode
            </span>          Artistas
        </a>
        <a [routerLink]='["mis-datos"]'>
          <span class="material-icons">
            album
          </span>          Albums
        </a>
    </nav>


    <nav id="user_logged">

      <hr class="hr">

        <button class="user-image" [routerLink]="['mis-datos']" >
            <div class="image_for_edit" id="image-logged "  *ngIf="identity.image && identity.image != 'null' ">
                <img src="{{url+'get-image-user/'+identity.image}}" alt="profile"  />
            </div>

        </button>



        <button (click)="logoOut()">
          <span class="material-icons">
            logout
          </span>
          salir
        </button>

   

    </nav>

</div>

<div *ngIf="identity" class=" central col-lg-11">
    <router-outlet></router-outlet>
</div>

</div>


<div class="row col-lg-12" *ngIf="!identity">

    <div class="col-lg-6 mt-4">
        <h1>Identificate</h1>
        <div *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
                <strong>Error</strong> {{errorMessage}}
              </div>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
            <p>
                <label>Correo Eléctronico : </label>
                <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
                <span *ngIf="!email.valid && email.touched">
                    El email es obligatorio
                </span>
            </p>
            <p>
                <label>Contraseña : </label>
                <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
            </p>
            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>
    </div>

    <div class="col-lg-6 mt-4">
        <h1>Registrate</h1>
        <div *ngIf="alertRegister">
            <div class="alert alert-info" role="alert">
                <strong>Error</strong> {{alertRegister}}
              </div>
        </div>
        <form #RegisterForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-7">
            <p>
                <label>Nombre : </label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control" required>
                <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio
                </span>
            </p>
            <p>
                <label>Apellidos: </label>
                <input type="text" #surname="ngModel" name="surname" [(ngModel)]="userRegister.surname" class="form-control" required>
                <span *ngIf="!surname.valid && surname.touched">
                    El apellido es obligatorio
                </span>
            </p>
            <p>
                <label>Correo Eléctronico : </label>
                <input type="email" #email="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control" required>
                <span *ngIf="!email.valid && email.touched">
                    El correo es obligatorio
                </span>
            </p>
            <p>
                <label>Contraseña : </label>
                <input type="password"  #password="ngModel" name="password" [(ngModel)]="userRegister.password" class="form-control" required>
                <span *ngIf="!password.valid && password.touched">
                    El password es obligatorio
                </span>
            </p>
            <input type="submit" value="Registrar" class="btn btn-primary">
        </form>
    </div>


</div>
