@media (max-width:2560px){
  .text-search{
    position: relative;
    right:0px;
    text-align: center !important;
  }

  .image-error img{
    width: 500px;
    position: relative;
    right:0px;
    top:30px;
  }

}

@media (max-width:1024px){
  .text-search{
    position: relative;
    right:0px;
    text-align: center !important;
  }

  .image-error img{
    width: 500px;
    position: relative;
    right:0px;
    top:30px;
  }

}

@media (max-width:768px){
  .text-search{
    position: relative;
    right:50px;
    text-align: center !important;
  }

  .image-error img{
    width: 500px;
    position: relative;
    right:40px;
    top:30px;
  }

}

@media (max-width:425px){
  .text-search{
    position: relative;
    right:26px;
    text-align: center !important;
  }

  .image-error img{
    width: 330px;
    position: relative;
    right:20px;
  }
}

@media (max-width:390px){

  .text-search{
    position: relative;
    right:30px;
    text-align: center !important;
  }

  .image-error img{
    width: 200px;
    position: relative;
    right:20px;
  }

}

@media (max-width:375px){

  .text-search{
    position: relative;
    right:26px;
    text-align: center !important;
  }

  .image-error img{
    width: 200px;
    position: relative;
    right:20px;
  }

}

@media (max-width:320px){

    .text-search{
      position: relative;
      right:26px;
      text-align: center !important;
    }

    .image-error img{
      width: 200px;
      position: relative;
      right:20px;
    }

}
