<section style="height:1200px;">
  <div class="row col-xs-11 col-sm-11 col-md-11 col-lg-8 offset-lg-2 mt-5 pt-5">
    <div class="form col-lg-5 offset-sm-1 offset-md-1">
      <form #UserUpdateForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
          <p>
              <label>Nombre : </label>
              <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required>
              <span *ngIf="!name.valid && name.touched">
                  El nombre es obligatorio
              </span>
          </p>
          <p>
              <label>Apellidos: </label>
              <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required>
              <span *ngIf="!surname.valid && surname.touched">
                  El apellido es obligatorio
              </span>
          </p>
          <p>
              <label>Correo Eléctronico : </label>
              <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
              <span *ngIf="!email.valid && email.touched">
                  El correo es obligatorio
              </span>
          </p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 mt-5 pt-5">
          <div class="col-lg-5 offset-3" style="position:relative; top:-80px;">
            <label for="">Sube tu foto</label>
            <input type="file" name="image" placeholder="subir imagen..." (change)="fileChangeEvent($event)">
            <div class="image_for_edit d-flex mt-4" *ngIf="user.image && user.image != 'undefined' ">
                <img src="{{url+'/get-image-user/'+user.image}}" alt="profile" width="200" />
            </div>
            <div id="identity_name"></div>
            <input type="submit" value="Editar datos" class="btn btn-primary d-flex mt-4">
          </div>
        </div>

      </form>

    </div>



  </div>

</section>
