html,body{
  margin:0px;
  height: 100vh;
  background-color: #eee;
}

button{
  background: none !important;
  color:#ddd;
  box-shadow: none;
  border:none;
}

.navigation{
  text-align: center;
  background-color: #1C1C1F;
  height: auto;
}

.navigation a{
  color:#ddd;
  margin-top:20px;
  margin-bottom:20px;
  display: block;
  text-decoration: none;

}

.navigation a:hover{
  color:white;
}

.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:25px;
  text-align: center;
  display: block;

}

#user_logged{
  background-color: #1C1C1F;
  position: absolute;
  bottom:0px;
}

.navigation .material-icons{
  font-size:30px;
  display: block;
  width: 100%;
}

#user_logged .material-icons{
  font-size:30px;
  display: block;
  width: 100%;
}

#user_logged .user-image img{
  width:80px;
  height: 80px;
  border-radius: 125px;
  position: relative;
  top:-200px;
  right:9px;
}

.actived{
  border-bottom: 4px solid #84bd00;
  padding-bottom: 4px;
}

.hr{
  position: relative;
  top:-60px;
  border: 1px solid #ddd;
}

li{
  list-style: none;
}

.artist-item{
  margin:0px auto;
  text-align: center;
  padding:0px;
  height: auto;
  margin-top:30px;
  border:#000 1px solid ;
  list-style-type: none;
  background:#1C1C1F;
  color:#fff;
}

.artist-item p{
  width: 50%;
  height: 120px;
  padding-bottom:10px;
  position: relative;
  margin:0 auto;
}

.artist-item img{
  width: 100%;
  height: 170px;
}

.title{
  position: relative;
  left:3%;
}

.crear-artistas{
  margin-right:2%;
  float:right;
}

.buttons{
  display: block;
  margin-top:5px;
  color:#fff;
  bottom: 0px;
}
