html,body{
  background-color: #1f1f1f;
  color:#c3c3c3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  bottom:0px;
  height: 100% !important;
}

button{
  background: none !important;
  color:#ddd;
  box-shadow: none;
  border:none;
}

i{
  color: white !important;
}

.navigation{
  text-align: center;
  background-color: #1C1C1F;
  width: 6% !important;
  position:fixed;
  height: 100vh;
  z-index: 9;
}

.navigation a{
  color:#ddd;
  margin-top:20px;
  margin-bottom:20px;
  display: block;
  text-decoration: none;
}

.navigation a:hover{
  color:white;
}

.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:25px;
  text-align: center;
  display: block;
}

#user_logged{
  background-color: #1C1C1F;
  position: absolute;
  left:24px;
  bottom:0px;
}

.navigation .material-icons{
  font-size:30px;
  display: block;
  width: 100%;
}

#user_logged .material-icons{
  font-size:30px;
  display: block;
  width: 100%;
}

#user_logged .user-image img{
  height: 50px;
  width: 50px;
  border-radius: 125px;
  position: relative;
  right:6px;
  top:-80px;
}

.actived{
  border-bottom: 4px solid #84bd00;
  padding-bottom: 4px;
}

.hr{
  position: relative;
  top:-60px;
  border: 1px solid #ddd;
}

li{
  list-style: none;
}

.artist-item{
  background-color:#444 !important;
  margin:0px auto;
  text-align: center;
  padding:0px;
  height: auto;
  border:transparent 1px solid ;
  padding: 1rem;
  border-radius: 2rem;
  list-style-type: none;
  background:transparent;
  color:#fff;
}

.artist-item p{
  width: 50%;
  height: 120px;
  padding-bottom:10px;
  position: relative;
  margin:0 auto;
}

.artist-item img{
  width: 100%;
  border-radius: 2rem;
  height: 170px;
}

.title{
  position: relative;
  left:3%;
}

.crear-artistas{
  margin-right:2%;
  float:right;
  position: relative;
  right:130px;
  top:30px;
}

.buttons{
  display: block;
  margin-top:5px;
  color:#fff;
  bottom: 0px;
}

.title-card{
  text-align: left !important;
  height: 100px;
}

.player{
	background: #1C1C1F;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 20px;
	margin-left: 0px;
	border-left: 1px solid #444;
	color: gray;
  border:  transparent !important;
}


.player .album-image{
	float:left;
	width: 138px;
	height: 105px;
	overflow: hidden;
}




@media(max-width:1000px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:62px;
  }

}

@media(max-width:1000px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:62px;
  }

}

@media(max-width:768px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:342px;
  }

}

@media(max-width:500px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:197px;
  }

}

@media(max-width:425px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:164px;
  }

}

@media(max-width:390px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:150px;
  }

}

@media(max-width:375px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:130px;
  }

}


@media(max-width:320px){

  .player .album-image{
    height: 80px;
    margin-bottom:1rem;
    display: flex;
    position: relative;
    left:110px;
  }

}

.player .album-image img{
	height: 100%;
}

#play-song-title{
  position: relative;
  top:-24px;
}

#play-song-artist{
  position: relative;
  top:-24px;
}

.title-player{
  position: relative;
  top:-16px;
}

#player{
  position: relative;
  top:-5px;
}

.line{
  position: relative;
  top:-24px;
  margin-left:8px;
  margin-right: 8px;
}

.player .audio-file{
	width: 85%;
	height: 40px;
	margin-top: 7px;
	margin-left: 10px;
	float: left;
}

.player audio{
	width: 100%;
	height: 40px;
}

.title-artist{
  position: relative;
  top:50px;
  left:190px;
}

.title-album{
  position: relative;
  top:40px;
  left:210px;
}

.logout{
  position: relative;
  right:8px;
  cursor: pointer;
}

.head-page{
  position: relative;
  right:155px;
  top:-3px;
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: white !important;
  font-size:1.6em;
  text-decoration: none;
  background-color:transparent !important;
  border: transparent !important;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
}

.album-list{
  height: 2000px;
}

.crear-albums{
  position: relative;
  right:148px;
  top:40px;
}

.main-button{
  position: relative;
  top:30px;
  width: 6%;
  left:50px;

  background:transparent !important;
  border:transparent !important;
  color:#fff;
  font-size:1.3rem;

}

.main-title{
  position: relative;
  top:-5px;
  right:20px;
}

.menu-icon{
  position: relative;
  top:2px;

  font-size:2.9rem;
  left:7px;
}

.avatar{
  border-radius: 40px;
  margin-left:0.6rem;
}

.menu-avatar{
  position: relative;
  top:-40px;
  left:-160px;
}

.material-icons{
  position: relative !important;
  top:5px !important;
}

.link{
  position: relative;
  left:10px;
}

.offcanvas{
  width: 250px !important;
}

.form-login{
  float: right;
  position: relative;
  top:140px;
}


.image-login{
  position: relative;
  top:60px;
}
